@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url(assets/fonts/material-icons.woff2) format('woff2');
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/Poppins-300.woff2");
}

@font-face {
	font-family: "PoiretOne";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/PoiretOne-Regular.woff2");
}

:root {
	--bg: #fff;
	--fg: #111;
	--fg-sec: #33333399;
	--bg-alpha: #eee3;

	--accent: green;
	--p-text: 13px;
	--text-s: 13px;
	--text-m: 20px;
	--text-l: 32px;
	--text-xl: 48px;

	--white: #fff;
	--black: #222;
	--green: green;
	--red: #D20062;

	--fab-size: 56px;
	--fab-size-mini: 32px;

	--scroll-overshoot: 20px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #000;
		--fg: #f2f2f2;
		--fg-sec: #f2f2f277;
		--bg-alpha: #1113;
	}
}

/* RESETS */
*, *::before, *::after { box-sizing: border-box; }
* { font-family: Poppins; }
html, body {
	padding: 0;
	margin: 0;
}

/* ICON FONT */
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 200,
		'GRAD' 0,
		'opsz' 48
}

body {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	background: var(--bg);
}

h1 {
	display: flex;
	flex-direction: column;
	padding: 32px 0;
	color: var(--fg-sec);
	font: 400 18px/var(--text-xl) PoiretOne;
	text-align: center;

	& b {
		color: var(--fg);
		font: 400 var(--text-xl)/var(--text-xl) PoiretOne;
	}
}

/* here for performance reasons...otherwise, we have to wait until the component js loads and runs before applying the css */
todo-list { flex-grow: 1; }

footer {
	height: 150px;
	display: flex;
	align-items: center;
	/* padding: 0 var(--scroll-overshoot);
	scroll-padding: 0 var(--scroll-overshoot); */
	overflow: scroll hidden;
	/* scroll-snap-type: x mandatory; */
}
footer::-webkit-scrollbar { display: none; }

.fab {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: var(--fab-size);
	aspect-ratio: 1;
	padding: 0;
	border: 2px solid;
	border-radius: 50%;
	color: var(--fg);
	background: transparent;
	font-size: var(--text-l);
	outline: 2px solid transparent;
	outline-offset: -2px;
	transition: .1s ease-out;
	z-index: 1;

	&:focus {
		outline-color: var(--fg-sec);
		outline-offset: 4px;
	}

	&.secondary { border: none; color: var(--fg-sec); }
	&.mini {
		--fab-size: var(--fab-size-mini);
		font-size: 24px;
	}
}

.fab.main {
	margin-inline-start: calc(50% - var(--fab-size) / 2);
	scroll-snap-align: center;
	animation: scroll-hide both;
	animation-timeline: scroll(x);
}
@keyframes scroll-hide {
	0% { opacity: 1; }
	30%, 100% { opacity: 0; }
}

.slide-indicator {
	position: fixed;
	inset: auto auto 60px calc(50% - 84px);
	display: flex;

	& span {
		margin: 0 -10px;
		color: var(--fg);
		font-size: var(--text-l);
		opacity: 0;
		animation: pulse 1s ease-in-out 0s 2 forwards;

		/* sequential pulse */
		&:nth-child(3) { animation-delay: 1.5s; } /* half the duration */
		&:nth-child(2) { animation-delay: 1.75s; } /* one fourth the duration */
		&:nth-child(1) { animation-delay: 2s; }
	}
}

@keyframes pulse {
	20% { opacity: 0; }
	60% { opacity: 1; }
	100% { opacity: 0; }
}

.white.white { color: var(--fg); }
.white.fill {
	border-color: var(--fg);
	background: var(--fg);
	color: var(--bg);
}
.green.green { color: var(--green); }
.green.fill {
	border-color: var(--green);
	background: var(--green);
	color: var(--white);
}
.red.red { color: var(--red); }
.red.fill {
	border-color: var(--red);
	background: var(--red);
	color: var(--white);
}